extends ../layout
block content
    div(class='container  d-flex justify-content-center mt-5')
        div(class='w-50')
            h1() Login...

            form( class='mt-5' action='/auth/login', method='post')
                div(class="form-group")
                        lebel(for='email') Email:
                        input#email(class='form-control' type='text' name='email' value='')

                div(class="form-group")
                    lebel(for='password') Password:
                    input#password(class='form-control'  type='text' name='password' value='')     

                input.btn( class="btn btn-primary" type="submit" value='Ok')