extends ../layout
block content
    h1(Class='my-4') Crear Usuario
    
    form(class='mx-4' action='/users', method='post')
        div(class="form-group")
                lebel(for='email') Email:
                input#email(class='form-control' type='text' name='email' value=usuario.email)
               
        div(class="form-group")
            lebel(for='name') Name:
            input#name(class='form-control'  type='text' name='name' value=usuario.name)
        
        div(class="form-group")
            lebel(for='password') Password:
            input#name(class='form-control'  type='text' name='password' value=usuario.password)     
        
        div(class="form-group")
            lebel(for='password_confirm') Confirm Password:
            input#name(class='form-control'  type='text' name='password_confirm')     
        
        
        input.btn( class="btn btn-primary" type="submit" value='Crear')