extends ../layout

block content
    a(href='/users/viewCreate' class='ml-2 mt-1 text-dark') Nuevo
    h1 pagina de usuarios

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Email
                th(scope='col') Activo
                th(scope='col')
               
        tbody
            each user in usuarios
                tr
                    td(scope='row')= user._id
                    td= user.name
                    td= user.email
                    td= user.verificado
                    td
                        form(class='d-inline mr-1' method="POST" action='users/'+user._id+'/viewUpdate')
                            input(type="hidden" name='id' value= user._id)
                            button.link-button(type="submit" name='submit_param' value='submit_value' class='btn btn-primary rounded-circle')
                                i.fa.fa-pencil-alt(aria-hidden='true')
                   
                        form(class='d-inline' method="POST" action='users/'+user._id+'/delete')
                            input(type="hidden" name='id' value= user._id)
                            button.link-button(type="submit" name='submit_param' value='submit_value' class='btn btn-danger rounded-circle')
                                i.fa.fa-trash(aria-hidden='true')
