extends ../layout
block content
    h1(Class='my-4') Modificar Usuario
    a(href="/users") Ir a usuarios 
    
    form(class='mx-4' action='/users/update', method='post')
        div(class="form-group")
                lebel(for='email') Email:
                input#email(class='form-control' type='text' name='email' value=usuario.email readonly)
                input#name(type="hidden" name='id' value=usuario.id)
        div(class="form-group")
            lebel(for='name') Name:
            input#name(class='form-control'  type='text' name='name' value=usuario.name)
        
        
        input.btn( class="btn btn-primary" type="submit" value='OK')