extends ../layout

block content
    nav(class='d-flex justify-content-around mt-5 mb-5')
            a(href='/bicicletas' class='text-dark') 
                h4() Listado de Bicicleta
            a(href='/' class='text-dark') 
                h4() Logout...

    div(class='container')
        h1(mb-5) Nueva Bicicleta
    
        form(action='/bicicletas/create', method='post')
            lebel(for='code') code:
            input#id(type='text' name='code' value=code)
            br
            lebel(for='color') Color:
            input#id(type='text' name='color')
            br
            lebel(for='modelo') Modelo:
            input#id(type='text' name='modelo')
            br
            lebel(for='lat') Latitud:
            input#id(type='text' name='lat')
            br
            lebel(for='lng') Longitud:
            input#id(type='text' name='lng')
            br
            br
            input.btn(type="submit" value='OK')