h1 Modifica Bicicleta
br
br

form(action='/bicicletas/edit', method='post')
    lebel(for='code') Code:
    input#id(type='text' name='code' value=bici.code)
    br
    lebel(for='color') Color:
    input#id(type='text' name='color' value=bici.color)
    br
    lebel(for='modelo') Modelo:
    input#id(type='text' name='modelo' value=bici.modelo)
    br
    lebel(for='lat') Latitud:
    input#id(type='text' name='lat' value=bici.ubicacion[0])
    br
    lebel(for='lng') Longitud:
    input#id(type='text' name='lng' value=bici.ubicacion[1])
    br
    br
    input.btn(type="submit" value='OK')