extends ../layout

block content
    nav(class='d-flex justify-content-around mt-5 mb-5')
        a(href='/bicicletas/create' class='text-dark') 
            h4() Nueva Bicicleta
        a(href='/' class='text-dark') 
            h4() Logout...
    h3(class='ml-2 mt-4') Cantidad de registros: 
        a= count
    
   
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
                th(scope='col')
               
        tbody
            each bici in bicis
                tr
                    td(scope='row')= bici.code
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        form(class='d-inline mr-1' method="POST" action='bicicletas/'+bici.code+'/delete')
                            input(type="hidden" name='id' value= bici.code)
                            button.link-button(type="submit" name='submit_param' value='submit_value' class='btn btn-primary rounded-circle')
                                i.fa.fa-trash(aria-hidden='true')
                   
                        form(class='d-inline' method="POST" action='bicicletas/'+bici.code+'/edit')
                            input(type="hidden" name='id' value= bici.code)
                            button.link-button(type="submit" name='submit_param' value='submit_value' class='btn btn-danger rounded-circle')
                                i.fa.fa-pencil-alt(aria-hidden='true')
